# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Popular languages used in Data Science
- Commonly used libraries in Data Science
- Popular Data Science Tools
- Usage of arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Scikit-Learn
3. Matplotlib
4. Seaborn

|Data Science Tools|
|------------------|
|RStudio           |
|Apache Pyspark    |
|Apache Hadoop     |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Rubem Manoel Moraes Barbosa